.score {
    background-color: #1F3540;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.score > p {
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.x-score {
    background-color: #31C3BF;
}

.ties {
    background-color: #A7BFC9;
}

.o-score {
    background-color: #F1B138;
}

.score-container {
        margin: 4% 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1em;
        width: 100%;
}

@media (max-width: 768px) {
    .score {
        width: 85px;
        height: 40px;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 992px) {
    .score-container {
        width: 500px;
        grid-gap: 10px;
    }

    .score {
        width: 160px;
        height: 60px;
    }
    .score > p {
        font-size: large;
    }
}

/* For tablet height */
@media (min-height: 1024px) {
    .score-container {
            width: 500px;
            grid-gap: 10px;
        }
    
        .score {
            width: 160px;
            height: 60px;
        }
    
        .score>p {
            font-size: large;
        }
}