.game-container {
    width: 330px;
}

@media (min-width: 992px) {
    .game-container {
        width: calc(480px + 2em)
    }
}

@media (min-height: 1024px) {
    .game-container {
        width: auto;
    }
}