.square {
    background-color: #1F3540;
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 8px 0px 0px #0f1d23;
    -moz-box-shadow: 0px 8px 0px 0px #0b1519;
    box-shadow: 0px 8px 0px 0px #0b1519;
}

.square:hover {
    animation: pulsate-bwd .5s ease-in-out infinite both;
    cursor: pointer;
}

.game-token {
    width: 85%;
}

@media (min-width: 992px) {
    .square {
        width: 160px;
        height: 160px;
    }
}

/* For tablet height */
@media (min-height: 1024px) {
    .square {
            width: 160px;
            height: 160px;
        }
}