.square {
    background-color: #1F3540;
    border: none;
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 8px 0px 0px #0f1d23;
    -moz-box-shadow: 0px 8px 0px 0px #0b1519;
    box-shadow: 0px 8px 0px 0px #0b1519;
}

.square:hover {
    animation: pulsate-bwd .5s ease-in-out infinite both;
    cursor: pointer;
}

@media (max-width: 768px) {
    .square {
        width: 85px;
        height: 85px;
    }
}