.new-game-modal {
    width: 57vw;
    display: flex;
    flex-direction: column;
}

.new-game-icon-container,
.player-choice-container,
.new-game-modal > button:first-child {
    margin: 6% 0;
}

.icon-choice-container > label {
    display: flex;
    justify-content: center;
    border: none;
    box-shadow: none;
    background-color: #192934;
    border-radius: 10px;
    width: 50%;
    padding: 7px 0;
    transition: all .2s ease-in-out;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 7%;
    height: 7%;
}

.icon-choice-container > label > [type=radio]:checked + div {
    background-color: #A8BFC9;
    border-radius: 8px;
    width: 95%;
}

.icon-choice-container>label>[type=radio]:checked+div > img {
    filter: invert(12%) sepia(11%) saturate(2259%) hue-rotate(162deg) brightness(94%) contrast(90%);
}

.icon-choice-container>label > div > img {
    filter: invert(100%) sepia(94%) saturate(1025%) hue-rotate(171deg) brightness(80%) contrast(97%);
    height: 22px;
    padding: 8px 2px;
}

.new-game-icon-container > img {
    width: 7%;
}

.icon-choice-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #192A33;
    border-radius: 10px;
}

.player-choice-container {
    background-color: #1F3540;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 6px 0px 0px #0f1d23;
    -moz-box-shadow: 0px 6px 0px 0px #0b1519;
    box-shadow: 0px 6px 0px 0px #0b1519;
}

.player-choice-container > p:first-child {
    color: #A8BFC9;
}

.player-choice-container > p:last-child {
    color: #50626C;
    font-size: small;
}

.player-choice-container > p {
    text-transform: uppercase;
    font-weight: 600;
}

.new-game-btn > button {
    background-color: transparent;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    font-weight: bolder;
    transition: all .2s ease-in-out;
}

.new-game-btn {
    border: none;
    width: 100%;
    padding: 4% 0;
    margin: 0 auto;
    border-radius: 8px;
    transition: all .2s ease-in-out;
    background-color: #F2B137;
    -webkit-box-shadow: 0px 4px 0px 0px #986f21;
    -moz-box-shadow: 0px 4px 0px 0px #986f21;
    box-shadow: 0px 4px 0px 0px #986f21;
}

.new-game-btn:last-child {
    background-color: #31C3BD;
    -webkit-box-shadow: 0px 4px 0px 0px #196a67;
    -moz-box-shadow: 0px 4px 0px 0px #196a67;
    box-shadow: 0px 4px 0px 0px #196a67;
    margin: 14px 0;
}

.new-game-btn>button:hover,
.new-game-btn:hover,
.icon-choice-container>label:hover {
    cursor: pointer;
    transform: scale(1.05);
}